root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 160
tab_width = 4

[*.kt]
ij_continuation_indent_size = 4
ij_kotlin_class_annotation_wrap = split_into_lines
ij_kotlin_field_annotation_wrap = split_into_lines
ij_kotlin_method_annotation_wrap = split_into_lines
ij_kotlin_parameter_annotation_wrap = split_into_lines
ij_kotlin_variable_annotation_wrap = split_into_lines

[{*.yaml, *.yml}]
indent_size = 2
