name: Build
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - next
    paths:
      - '.github/workflows/**'
      - 'src/**'
      - 'pom.xml'

concurrency:
  group: ci-main

permissions:
  contents: read

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup Java
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        run: mvn -B -ntp verify

  verify-native:
    name: Verify Native
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - windows-2025
          - macos-14
          - macos-15
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1.4.5
        with:
          java-version: '21'
          distribution: 'graalvm-community'

      - name: Run Tests
        run: mvn -B -ntp -PnativeTest verify

  release:
    name: Build and Release
    runs-on: ubuntu-24.04
    permissions:
      # required by semantic release
      contents: write
      # required to publish the docker image
      packages: write
    needs:
      - verify
      - verify-native
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup Java
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Create new Release
        uses: cycjimmy/semantic-release-action@v6.0.0
        with:
          extra_plugins: |
            @semantic-release/git
            @semantic-release/exec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
